.container {
  margin: 0 auto;
  background-color: var(--bg-1);
  padding-bottom: 10px;
}

.title {
  color: #352e2e;
  font-family: var(--font-impact), var(--font-montserrat), system-ui, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}
.courseList {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  margin-top: 22px;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
