# ───────────────────────────
# ДОКЕР-ИГНОР ДЛЯ bull-board
# ───────────────────────────

# каталоги/файлы, которые точно не нужны в образе
node_modules
dist
npm-debug.log

# системный мусор
*.log
.DS_Store

# кэш инструментов
.next
.cache
coverage