.button {
  background-color: unset;
  border: none;
  position: absolute;
  top: -23%;
  left: -12px;
}

.pendingIndicator {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 8px;
  height: 8px;
  background-color: #ffa500;
  border-radius: 50%;
  border: 1px solid white;
}

.error {
  color: red;
}
