.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.courseCard {
  list-style: none;
  background: #FFF8E5;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #636128;
  max-width: 310px;
}

.imageContainer {
  width: 100%;
  max-width: 350px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;  
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.image {
  width: 245px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.privateBadge {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(255, 0, 0, 0.9);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 500;
}

.content {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #352E2E;
  line-height: 100%;
  font-weight: 400;
  font-family: var(--font-impact), var(--font-montserrat), system-ui, sans-serif;
}

.description {
  color: #352E2E;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font-montserrat), var(--font-impact), system-ui, sans-serif;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 0.85rem;
}

.duration {
  color: #352E2E;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font-montserrat), var(--font-impact), system-ui, sans-serif;
}

.status {
  font-weight: 500;
}

.notStarted {
  color: #352E2E
}

.inProgress {
  color: #009dcf;
}

.completed {
  color: #28a745;
}

.date {
  font-size: 0.8rem;
  color: #352E2E;
  margin-bottom: 5px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}

.reviews {
  font-size: 0.8rem;
  color: #352E2E;
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: #37373d;
  font-size: 0.9rem;
  position: relative;
}

.author::before {
  content: '';
  position: absolute;
  top: 16%;
  left: 44%;
  transform: translateX(-50%);
  width: 210px;
  height: 1px;
  background-color: #636128;
}



.authorlink {
  color: #009dcf;
  text-decoration: none;
}
