.container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 0.75rem;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.day {
  font-weight: 600;
}

.duration {
  color: #555;
}
.link {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  text-decoration: none;
  color: #333;
  background-color: #f4f4f4;
  border-radius: 8px;
  transition: background 0.2s;
}

.link:hover {
  background-color: #e0e0e0;
}

.day {
  font-weight: 600;
}

.duration {
  color: #555;
}
.completed {
  background-color: #23d62a;
  border-left: 4px solid #23d62a;
  transition: background-color 0.3s ease;
}
.courseDescription {
  border-radius: 50% 20% / 10% 40%;
  border: 2px solid black;
  padding: 1rem; /* опционально, чтобы текст не прилипал */
}
.plan {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.inprogress {
  background-color: #c1d623;
}
