.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.backButton {
  background: none;
  border: none;
  color: #0070f3;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.backButton:hover {
  background-color: rgba(0, 112, 243, 0.1);
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.userName {
  color: black;
  margin-left: auto;
  margin-right: 10px;
}
.profil {
  display: flex;
  align-items: center;
}
.dropdownMenu {
  display: flex;
  position: absolute;
  top: 100%;
  right: 0px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  padding: 16px;
  min-width: 160px;
  z-index: 100;
  animation: Header_fadeInDown__Sfbx1 0.18s cubic-bezier(0.3, 1.3, 0.7, 1.01);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
