.main {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.accordionItem {
  margin-bottom: 10px;
}

.accordionHeader {
  width: 100%;
  text-align: left;
  padding: 10px;
  font-weight: bold;
  background-color: #7b7070;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.accordionContent {
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 3px solid #ccc;
  border-radius: 0 0 4px 4px;
}
.timer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.timer p {
  font-weight: bold;
}
.finished {
  background-color: #00ff4c; /* светло-красный фон */
  color: #a19194; /* акцентный текст */
  border: 1px solid #ff5252;
}
